<div style="clear: both;">
    <div style="width: 180px; float: right;">
        <a href="contributed-papers/icra-2025-robots-wild-{{ include.id }}.pdf" download><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" height="50px" alt="PDF file icon (Adobe Systems CMetalCore, Public domain, via Wikimedia Commons)" /></a>
    </div>
    <div>
        <b>Paper ID {{ include.id }}</b><br>
        <b>{{ include.title }}</b><br>
        {{ include.authors }}<br>
    </div>
</div>
